.highlight{
  color: red;
  font-weight: bolder;
  font-style: italic;
}
.posts{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
p{
  width: 75%;
  font-style: italic;
  font-weight: bold;
}