.highlight{
  color: red;
  font-weight: bolder;
  font-style: italic;
}
.posts{
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
p{
  width: 75%;
  font-style: italic;
  font-weight: bold;
}
p.post1{
  margin-top: 100px;
  margin-bottom: 75px;
}
p.post2{
  margin-bottom: 75px;
}
p.post3{
  margin-bottom: 75px;
}